!!!
%html
	%head
	
		%title Sinatra
		
		%link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
		
		%link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => 'text/css', :media => "screen"}
		
		%script{:type => "text/javascript", :src => "/js/jquery.min.js"}
		%script{:type => "text/javascript", :src => "/js/jquery-ui.min.js"}
		%script{:type => "text/javascript", :src => "/js/application.js"}
		
	%body
	
		Lorem Ipsum