* {
  margin: 0;
  padding: 0; }

body {
  color: #999999;
  font: 13px Interstate Light; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    color: #ff6600; }

p {
  margin: 10px 0; }

h1, h2 {
  color: #333333;
  font-family: Interstate;
  font-weight: normal;
  text-transform: uppercase; }

h1 {
  background: url(/images/icon.png) 0 4px no-repeat;
  border-bottom: 3px solid #ff6600;
  display: inline-block;
  font-size: 36px;
  margin-bottom: 10px;
  padding-left: 38px;
  position: relative; }

h2 {
  font-size: 24px;
  padding: 25px 0 0 0; }

p.intro {
  color: #333333;
  font-size: 24px;
  line-height: 32px; }
  p.intro a {
    border-bottom: 1px solid #ff6600; }
    p.intro a:hover {
      color: #333333; }

#header {
  border-top: 5px solid #333333;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%; }

#container {
  margin: 100px auto;
  width: 750px; }

p.copyright {
  margin-top: 50px; }
